// Single line comments are removed when Sass is complied to CSS.

/* Multi line comments are preserved. */

/* Variables
============================== */

/* You can store a CSS value (such as a color) in a variable.
Use the '$'symbol to create a variable. */

$primary-color: #A3A4FF;
$secondary-color: #51527F;
$body-font: 'Roboto', sans-serif;

/*   You can use the variables throughout your stylesheet.
     Now if you want to change a color, you only haev to make the change once */

body {
     background-color: $primary-color;
     color: $secondary-color;
     font-family: $body-font;
}

/* This is much more maintainable than having to change the color each time it appears throughout your stylesheet. */
