/* Include Foundation Sass file */
@import '../../bower_components/foundation-sites/assets/foundation';

/* Constants */
$_IS_DEBUG_MODE: false;

/* Sass Functions */

@function debug_mode($css_value) {
     @if $_IS_DEBUG_MODE {
          @return $css_value;
     } @else {
          @return null;
     }
}

/* Colors variables */


$logo-text-color: white;
$footer-text-color: #adafb3;
$nav-link-color: #c5c1bf;
$nav-link-hover-color: #f5f0b7;
$intro-text-color: white;
$services-listitem-icon-color: #28a002;


$logo-protofake-color: yellow;
$nav-protofake-color: gray;
$background-color: #E7DFDD;
$header-background-color: #0E0B16;
$intro-background-color: #191919;
$intro-join-button-background-color: #1ada5e;
$qa-testing-background-color: #a4c8ff;
$footer-background-color: black;

/* Font family types */

$logo-font-family: 'Maven Pro', sans-serif;
$navigation-list-item-font-family: 'Heebo', sans-serif;
$intro-title-font-family:  'Roboto Slab', serif;
$intro-description-font-family: 'Open Sans', sans-serif;
$intro-join-button-font-family: "Roboto Slab", serif;
$services-main-title-font-family: 'Roboto Slab', serif;
$services-main-description-font-family:  'Roboto Slab', serif;
$services-feature-title-font-family: 'Roboto Slab', serif;
$services-feature-description-font-family: 'Poppins', sans-serif;
$qa-testing-title-font-family: 'Roboto Slab', serif;
$qa-testing-description-font-family: 'Poppins', sans-serif;
$footer-description-font-family: 'Heebo', sans-serif;

/* Main style */

html, body {
     background-color: $background-color;
}

body {
     overflow-x: hidden;
}

#header {
     background-color: $header-background-color;
}

#logo {
     background-color: debug_mode($logo-protofake-color);
     color: $logo-text-color;

     h1 {
          padding-left: 16px;
          top: 2px;
          position: relative;
          font-size: 2rem;
          font-family: $logo-font-family;
     }

}

#navigation {
     background-color: debug_mode($nav-protofake-color);

     @include breakpoint(small) {
          text-align: center;
          ul {
               display: inline-flex;
          }
     }

     a {
          font-family: $navigation-list-item-font-family;
          color: $nav-link-color;
          &:hover, &.active {
               color: $nav-link-hover-color;
          }
     }
}

#intro {
     min-height: 30rem;
     background-color: $intro-background-color;
     position: relative;
     overflow: hidden;
     color: $intro-text-color;

     h2 {
          font-family: $intro-title-font-family;
          font-size: 4.5rem;
          font-weight: 500;

          @include breakpoint(small) {
               font-size: 3.5rem;
          }
     }

     h3 {
          font-family: $intro-description-font-family;
          font-weight: 600;
     }

     .cell {
          z-index: 2;
     }

     #join-button {
          background-color: $intro-join-button-background-color;
          border-radius: 28px;
          -webkit-order-radius: 28px;
          -moz-order-radius: 28px;
          font-family: $intro-join-button-font-family;
          font-weight: bold;
     }

     #intro-background {
          background-image: url(../img/neonbrand-_oKSYD2cSIk-unsplash.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          filter: blur(10px);
          -webkit-filter: blur(10px);
     }
}

#services {

     h2 {
          font-family: $services-main-title-font-family;
          font-size: 4rem;
          font-weight: 400;

          @include breakpoint(small) {
               font-size: 3rem;
          }
     }

     h3 {
          font-family: $services-feature-title-font-family;
          font-size: 1.8rem;
          font-weight: 500;
     }

     p.legend {
          font-family: $services-main-description-font-family;
          font-size: 1.6rem;
          font-weight: 400;
     }

     padding-bottom: 2rem;

     .services-list {
          padding-left: 1rem;

          .cell {

               p {
                    font-family: $services-feature-description-font-family;
               }

               i.step {
                    position: relative;
                    top: -0.2rem;
                    color: $services-listitem-icon-color;
               }
          }
     }

     @include breakpoint(small) {
          padding-bottom: 0;
          .services-list {
               padding-bottom: 0;
               .cell i.step {
                    top: 0.8rem;
               }

          }
     }
}

#qa-testing {
     min-height: 22rem;
     background-color: $qa-testing-background-color;
     // find suitable background
     background-image: url('../img/qa-mobile-pic.png');
     background-position: bottom right;
     background-size: 40%;
     background-repeat: no-repeat;
     background-blend-mode: luminosity;

     h2 {
          font-family: $qa-testing-title-font-family;
          font-weight: 500;
          font-size: 2.5rem;
     }

     p {
          font-family: $qa-testing-description-font-family;
     }

     @include breakpoint(small) {
          min-height: 17rem;
     }
}

#footer {
     min-height: 10rem;
     background-color: $footer-background-color;
     color: $footer-text-color;
     font-size: 0.9rem;
     font-family: $footer-description-font-family;

     @include breakpoint(small) {
          min-height: 7rem;
     }
}

/* Foundation Icons Size Ranges */

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }
