<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <title>Conditional</title>

     <!-- Vue.js: production version -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

     <div id="app-3">
          <h1 v-if="hasHeadline">Another Conditional Example</h1>
          <span v-if="seen">Now you see me</span>
     </div>

     <!-- Vue.js Implementation -->
     <script>

     var app3 = new Vue({
          el: '#app-3',
          data: {
               hasHeadline: true,
               seen: true
          }
     })
     </script>
     <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
